{% load static %}
{% load humanize %}
{% load i18n %}

<div class="card product-card h-100 bg-body d-flex">
    <div class="position-relative partCarousel">
        <div id="partCarousel{{ part.pk }}" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'part:part_detail' part.pk %}">
                        <img src="{{ part.image1.url }}" alt="{{ part.name }}" class="card-img-top img-fluid custom-carousel-img-main">
                    </a>
                </div>
                {% if part.image2 %}
                    <div class="carousel-item">
                        <a href="{% url 'part:part_detail' part.pk %}">
                            <img src="{{ part.image1.url }}" alt="{{ part.name }}" class="card-img-top img-fluid custom-carousel-img-main">
                        </a>
                    </div>
                {% endif %}
                {% if part.image3 %}
                    <div class="carousel-item">
                        <a href="{% url 'part:part_detail' part.pk %}">
                            <img src="{{ part.image1.url }}" alt="{{ part.name }}" class="card-img-top img-fluid custom-carousel-img-main">
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="part carousel-indicators position-absolute">
                <button type="button" data-bs-target="#partCarousel{{ part.pk }}" data-bs-slide-to="0" class="active"
                        aria-current="true" style="background-color: #c98d48;"></button>
                {% if part.image2 %}
                    <button type="button" data-bs-target="#partCarousel{{ part.pk }}" data-bs-slide-to="1"
                            style="background-color: #c98d48;"></button>
                {% endif %}
                {% if part.image3 %}
                    <button type="button" data-bs-target="#partCarousel{{ part.pk }}" data-bs-slide-to="2"
                            style="background-color: #c98d48;"></button>
                {% endif %}
            </div>
        </div>

        {% if user.is_staff or not user.is_authenticated %}
        {% else %}
        <a href="{% url 'favorite:favorite_add' %}"
           class="btn position-absolute top-0 end-0 m-0 btn add-to-favorite"
           data-part-id="{{ part.id }}">
            {% if part.pk in favorites %}
                <i class="fa-solid fa-heart" style="color:#c98d48"></i> <!-- Filled heart -->
            {% else %}
                <i class="fa-regular fa-heart" style="color:#c98d48"></i> <!-- Not-filled heart -->
            {% endif %}
        </a>
        {% endif %}


    </div>

    <div class="p-2 h-100 d-flex flex-column py-3 px-4">
        <h4 class="mb-4">
            <a href="{% url 'part:part_detail' part.pk %}"
               class="text-dark text-decoration-none hover-red">{{ part.name }}</a>
        </h4>
        <p>{% trans 'Модель' %}: <span class="fw-bold">{{ part.vehicle_info.model }}</span></p>

        {% block content %}
        {% endblock %}

        {% if part.previous_price or part.current_price %}
            <p class="card-price mt-2">
                {% if part.previous_price %}
                    <del>{{ part.previous_price|intcomma }} руб</del>
                {% endif %}
                {% if part.current_price %}
                    <span class="fw-bold text-danger">{{ part.current_price|intcomma }} сом</span>
                {% endif %}
            </p>
        {% endif %}

        <div class="mt-auto d-flex justify-content-end pt-2">
            <span class="text-secondary fw-bold me-auto">{{ part.reviews.count }} отзывов</span>
              <div class="card-overlay">
                    <div class="hover-buttons">
                        <a href="{% url 'cart:cart_add' %}" class="add-to-cart" data-part-id="{{ part.id }}">
                            <i class="bi bi-cart"></i>
                            {% trans 'Корзина' %}
                        </a>
                    </div>
                </div>
        </div>

        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="csrf-token" content="{{ csrf_token }}">
    </div>

</div>