{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Обновление цен</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="apply" value="1">
        <input type="submit"  value="Применить">
    </form>
    <hr>
    <h2>Выбранные запчасти</h2>
    {% if queryset %}
        <ul>
            {% for part in queryset %}
                <li>{{ part.part.name }} - Цена: {{ part.price }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Никакие запчасти не выбраны.</p>
    {% endif %}

{% endblock %}

{# modeladmin.message_user(#}
{#                request,#}
{#                ngettext(#}
{#                    "%d цена была успешно изменена.",#}
{#                    "%d цены были успешно изменены.",#}
{#                    updated_count,#}
{#                ) % updated_count,#}
{#                messages.SUCCESS#}
{#            )#}