
.popup-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 285px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
    color: #333;
}


.popup-form {
    padding: 12px;
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.popup-header h2 {
    margin: 0;
    font-size: 18px;
    color: #f24421;
    font-family: 'Poppins', sans-serif;
}


.close-btn {
    border: none;
    background: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-bottom: 16px
}


.popup-body {
    margin-top: 0;
}


.popup-body label {
    font-weight: bold;
    color: #555;
}


.popup-body input[type="text"], .popup-body textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-body input[type="email"], .popup-body textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submit-btn {
    width: 100%;
    background-color: #f24421;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.submit-btn:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .popup-container {
        width: 240px;
        height: 330px;
        padding: 10px;
    }

    .popup-header h2 {
        font-size: 14px;
    }

    .popup-body input[type="text"],
    .popup-body input[type="email"],
    .popup-body textarea {
        padding: 6px;
        font-size: 14px;
        margin: 5px 0;
    }

    .submit-btn {
        padding: 8px;
        font-size: 14px;
        margin: 8px 0;
    }
    .popup-form {
    padding: 5px;
}
}

@media (max-width: 480px) {
    .popup-container {
        width: 200px;
        height: 320px;
    }

    .popup-header h2 {
        font-size: 12px;
    }

    .popup-body input[type="text"],
    .popup-body input[type="email"],
    .popup-body textarea {
        padding: 5px;
        font-size: 10px;
    }

    .submit-btn {
        padding: 6px;
        font-size: 10px;
    }
}
