.copy-notification {
                position: fixed;
                background-color: #4caf50;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                opacity: 0;
                animation: fadeInOut 2s ease;
            }

            @keyframes fadeInOut {
                0% { opacity: 0; }
                10% { opacity: 1; }
                90% { opacity: 1; }
                100% { opacity: 0; }
            }

.btn-share {
    background-color: transparent;
    color: green;
    font-size: 25px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}

.btn-share:hover {
    background-color: #218838;
    color: white;
}
