.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.subscription-section .u-sheet {
    width: 90%;
    padding: 20px;
}

.subscription-section .u-group h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.subscription-section .u-group p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    color: #989898;
}

.subscription-section .u-form label {
    display: inline-flex;
    justify-content: space-around;
    margin: 15px 10px 5px;
    font-size: 0.9rem;
    color: #ffffff;
}

.subscription-section .u-form input[type="text"],
.subscription-section .u-form input[type="email"] {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
}


.subscription-section .u-form button[type="submit"] {
    display: inline-flex;
    justify-content: center;
    width: 30%;
    padding: 14px 10px;
    margin: 5px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-section .u-form button[type="submit"]:hover {
    background-color: #cc0000;
}


@media (max-width: 768px) {
    .subscription-section .u-group h2 {
        font-size: 1.8rem;
    }

    .subscription-section .u-group p {
        font-size: 0.95rem;
    }

    .subscription-section .u-form button[type="submit"] {
        font-size: 1rem;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .subscription-section .u-group h2 {
        font-size: 1.6rem;
    }

    .subscription-section .u-group p {
        font-size: 0.85rem;
    }

    .subscription-section .u-form button[type="submit"] {
        font-size: 0.9rem;
        padding: 14px;
    }
}