{% extends "base.html" %}
{% load cart_tags %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Ваша корзина</h2>

        {% if carts %}
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in carts %}
                    <tr data-cart-id="{{ cart.pk }}">
                        <th>{{ forloop.counter }}</th>
                        <td>{{ cart.part.name }}</td>
                        <td>{{ cart.part.current_price }} ₽</td>
                        <td>
                            <button class="btn btn-danger change-quantity" data-action="decrement">-</button>
                            <span class="quantity">{{ cart.quantity }}</span>
                            <button class="btn btn-success change-quantity" data-action="increment">+</button>
                        </td>
                        <td>{{ cart.part.current_price|multiply:cart.quantity|floatformat:2 }} ₽</td>
                        <td>
                            <button class="btn btn-danger ms-2"
                                    data-js="delete-from-cart-button"
                                    data-url="{% url 'webapp:cart_delete_full' cart.pk %}">
                                Удалить
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <meta name="csrf-token" content="{{ csrf_token }}">

            <h4 id="total-cost">Итоговая стоимость: {{ total|floatformat:2 }} ₽</h4>



            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#orderModal">
                Оформить заказ
            </button>
            <br><br>
            <form method="#" action="#">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Сохранить корзину</button>
            </form><br><br>
            

        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>

    <!-- Модальное окно для оформления заказа -->
    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Контактные данные для заказа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'webapp:order_create' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="first_name" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                   value="{{ user.first_name }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                   value="{{ user.last_name }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Телефон</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                   value="{{ user.phone_number }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}"
                                   required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Отправить заказ</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>



    {% block search %}

    {% endblock %}
{% endblock %}


