{% extends "base.html" %}
{% load static %}
{% load custom_admin_filters %}

{% block content %}
    <div class="container mt-5 pt-5">
        <h1 class="text-center">Список объектов: {{ verbose_name_plural|capfirst }}</h1>

        <a href="{% url 'admin_panel:model_add' model_name=model_name %}" class="btn btn-primary mb-3">Добавить объект</a>
        <a href="{% url 'admin_panel:update_prices' %}" class="btn btn-info mb-3">Массовая смена цен</a>

        {% if objects %}
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        {% for header in column_headers %}
                            <th class="text-start">{{ header }}</th>
                        {% endfor %}
                        <th class="text-center">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objects %}
                        <tr>
                            {% for value in obj.to_display %}
                                <td class="text-start">
                                    {% if value == obj.name %}
                                        {{ obj.translated_name }}
                                    {% elif value == obj.description %}
                                        {{ obj.translated_description }}
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="text-center">
                                <a href="{% url 'admin_panel:model_edit' model_name=model_name pk=obj.pk %}"
                                   class="btn btn-sm btn-outline-warning me-2">Редактировать</a>
                                <a href="{% url 'admin_panel:model_delete' model_name=model_name pk=obj.pk %}"
                                   class="btn btn-sm btn-outline-danger">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет данных для отображения</p>
        {% endif %}
    </div>
{% endblock %}
