{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ model_name|capfirst }} - {% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %}</h1>

    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            {% if form.instance.pk %}Обновить{% else %}Добавить{% endif %}
        </button>
        <a href="{% url 'admin_panel:model_list' model_name=model_name %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
