{% extends "base.html" %}
{% load static %}
{% load cart_tags %}
{% load i18n %}

{% block content %}
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <div class="container">
            <h3 class="text-center mb-4">{% trans 'Выбранные товары' %}</h3>
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% user_carts request as carts %}

                {% include "cart/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
        </div>

        <!-- Детали заказа -->
        {% include 'includes/included_order_details.html' %}

    </div>
{% endblock %}

