<form class="text-center d-flex justify-content-center align-items-center gap-3 my-4" action="" method="GET">
    <div class="input-group mb-3">
        <span class="input-group-text" id="search-addon">🔍</span>
        <input 
            type="text" 
            id="{{ form.search.id_for_label }}" 
            name="search" 
            class="form-control" 
            placeholder="{{ form.search.label }}" 
            aria-label="Search" 
            aria-describedby="search-addon" 
            value="{{ request.GET.search|default:'' }}" 
            required
        >
    </div>
    <button type="submit" class="btn btn-primary">
        <strong>Поиск</strong>
    </button>
</form>

{% if form.search.errors %}
    <div class="text-danger mt-2">
        {% for error in form.search.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
