{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    <title>{% trans "Main" %}</title>
{% endblock %}

{% block content %}

    <div class="main-block">
        <div class="main-block-inner">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner overflow-visible">
                    <div class="carousel-item active main-block-1">
                        <div class="container overlay">
                            <h1>{% trans "Продажа автозапчастей" %}</h1>
                            <p>{% trans "Лучшие решения для вашего автомобиля" %}</p>
                        </div>
                    </div>
                    <div class="carousel-item main-block-2">
                        <div class="overlay">
                            <h1>{% trans "Качество и надежность" %}</h1>
                            <p>-{% trans "Индивидуальные решения для ваших нужд" %}-</p>
                        </div>
                    </div>
                    <div class="carousel-item main-block-3">
                        <div class="overlay">
                            <h1>{% trans "Инновационные подходы" %}</h1>
                            <p>- {% trans "Повышение эффективности вашего автомобиля" %}-</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="sales container my-4">
        <h3 class="all-headers pb-4">{% trans "Китаец" %}</h3>

        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            {% for part in parts %}
                <div class="col mb-2">
                    {% include "part/partial/part_view_partial.html" %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <div class="news container">
        <div>
            <h3 class="all-headers">Последние новости</h3>
        </div>
        {% include 'news/latest_news.html' %}
    </div>



    <div class="container py-5">
        <div class="our-partners">
            <h3 class="all-headers pb-4">{% trans "Наши партнеры" %}</h3>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 text-center">
                <div class="col mb-4">
                    <a target="_blank" href="#">
                        <i class="fas fa-university fa-3x partner-icon"></i>
                    </a>
                    <p class="partner-name">Alfa</p>
                </div>
                <div class="col mb-4">
                    <a target="_blank" href="#">
                        <i class="fas fa-car fa-3x partner-icon"></i>
                    </a>
                    <p class="partner-name">VSK</p>
                </div>
                <div class="col mb-4">
                    <a target="_blank" href="#">
                        <i class="fas fa-building fa-3x partner-icon"></i>
                    </a>
                    <p class="partner-name">Sber</p>
                </div>
                <div class="col mb-4">
                    <a target="_blank" href="#">
                        <i class="fas fa-briefcase fa-3x partner-icon"></i>
                    </a>
                    <p class="partner-name">Rosgos</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'popup.html' %}


    <i id="openPopup" class="bi bi-chat-dots-fill" style="font-size: 2rem; cursor: pointer;"></i>
{% endblock %}
{% block modal_cart %}
    {% include "cart/cart_button.html" %}
{% endblock %}