<div class="news-list">
    <p>Количество новостей: {{ latest|length }}</p>  
    <p>Контекст новостей: {{ latest }}</p>
    {% for news in latest %}
        <div class="news-item">
            <h3>{{ news.title }}</h3>
            <p>{{ news.short_description }}</p>
            {% if news.image %}
                <img src="{{ news.image.url }}" alt="{{ news.title }}">
            {% endif %}
            <a href="{% url 'webapp:news_detail' news.id %}">Читать далее</a>
        </div>
    {% empty %}
        <p>Отладка: Новости не найдены</p>
    {% endfor %}
</div>

</div>
    <div style="text-align: center;">
        <a href="{% url 'webapp:news_list' %}" class="btn btn-danger">Посмотреть все новости</a>
    </div>
</div>