{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="news-list">
    {% for news in latest %}
        <div class="news-card">
            {% if news.image %}
                <img src="{{ news.image.url }}" alt="{{ news.title }}">
            {% endif %}
            <div class="news-card-body">
                <h5 class="news-card-title">{{ news.title }}</h5>
                <p class="news-card-text">{{ news.short_description }}</p>
                <a href="{% url 'webapp:news_detail' news.id %}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
    {% empty %}
        <p>Новости не найдены</p>
    {% endfor %}
</div>

<div style="text-align: center;">
    <a href="{% url 'webapp:news_list' %}" class="btn btn-danger news-button">Посмотреть все новости</a>
</div>
