{% extends 'base.html' %}
{% load i18n %}
{% block content%}
    
    <div class="news-detail container" style="margin-top: 115px; margin-bottom: 115px">
        <h1>{{ news.title }}</h1>
        <p>{{ news.full_text }}</p>
        {% if news.image %}
            <img src="{{ news.image.url }}" alt="{{ news.title }}">
        {% endif %}
        <p>{% trans 'Опубликовано' %}: {{ news.published_at }}</p>
        <a href="{% url 'webapp:news_list' %}">{% trans 'Вернуться ко всем новостям' %}</a>
        <a href="{% url 'part:parts_list' %}">{% trans 'На главную' %}</a>
    </div>
	
{% endblock %}


