{% extends 'crm_base.html' %}

{% block title %}Информация о клиенте{% endblock %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <h4 class="card-title">Информация о клиенте</h4>
        </div>
        <div class="card-body">
            <p><strong>Имя:</strong> {{ customer.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ customer.last_name }}</p>
            <p><strong>Эл. почта:</strong> {{ customer.email }}</p>
            <p><strong>Номер:</strong> {{ customer.phone_number }}</p>
            <a href="{% url 'crm:customers' %}" class="btn btn-secondary">Назад к списку</a>
        </div>
    </div>
{% endblock %}