{% extends 'crm_base.html' %}

{% block title %}Заявки на звонки{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title mb-0">Заявки на звонки</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Эл. почта</th>
                            <th>Дата запроса</th>
                            <th>Комментарии</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact_request in contact_requests %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ contact_request.first_name }} {{ contact_request.last_name }}</td>
                            <td>{{ contact_request.phone_number }}</td>
                            <td>{{ contact_request.email }}</td>
                            <td>{{ contact_request.created_at|date:"d.m.Y H:i" }}</td>
                            <td>{{ contact_request.comments }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">Заявки не найдены.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}