{% load i18n %}

<div class="container">
    <h3 class="text-center">{% trans "Детали заказа" %}</h3>
    <div class="card mb-3">
        <div class="card-body">
            <form action="{% url 'order:order_create' %}" method="post" id="order_create_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id_first_name" class="form-label">{% trans "Имя:" %}</label>
                        <input type="text" class="form-control" id="id_first_name"
                               value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                               name="first_name" required>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_last_name" class="form-label">{% trans "Фамилия:" %}</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name"
                               value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                               required>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phone" class="form-label">{% trans "Номер телефона:" %}</label>
                        <input type="phone" class="form-control" id="phone_number" name="phone"
                               value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"
                               placeholder="{% trans 'Введите ваш номер телефона' %}"
                               required>
                        {% if form.phone.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.phone.errors }}</div>
                        {% endif %}
                        <div class="alert alert-danger alert-dismissible fade show" style="display: none"
                             id="phone_number_error">{% trans "Неверный формат номера" %}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">{% trans "Email:" %}</label>
                        <input type="email" class="form-control" id="email" name="email"
                               value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                               placeholder="{% trans 'Ваш email' %}"
                               required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="delivery" class="form-label">{% trans "Способ доставки:" %}</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="requires_delivery"
                                   id="id_requires_delivery_1" value="1" checked>
                            <label class="form-check-label"
                                   for="id_requires_delivery_1">{% trans "Нужна доставка" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="requires_delivery"
                                   id="id_requires_delivery_0" value="0">
                            <label class="form-check-label" for="id_requires_delivery_0">{% trans "Самовывоз" %}</label>
                        </div>
                    </div>
                    <div class="mb-3" id="deliveryAddressField">
                        <label for="id_delivery_address" class="form-label">{% trans "Адрес доставки:" %}</label>
                        <textarea class="form-control" id="id_delivery_address" name="delivery_address" rows="2">
    {% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}
</textarea>
                        {% if form.delivery_address.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ form.delivery_address.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">{% trans "Способ оплаты:" %}</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                   id="id_payment_on_get" value="0" checked>
                            <label class="form-check-label" for="id_payment_on_get">{% trans "Оплата картой" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                   id="id_payment_on_get" value="1">
                            <label class="form-check-label"
                                   for="id_payment_on_get">{% trans "Наличными/картой при получении" %}</label>
                            {% if form.payment_on_get.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{ form.payment_on_get.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">{% trans "Оформить заказ" %}</button>
            </form>
        </div>
    </div>
</div>
